:root {
	--font-regular: serif;
	--background: #f4f4f4;
	--background-nav: #eaeaea;
	--foreground: #000000;
	--dimmed-foreground: #6e6e6e;
	--anchor: #ef2b7c;
	--button: #ef2b7c;

	--h1-size: 1.8rem;
	--h2-size: 1.4rem;
	--nav-text-size: 1.2rem;
	--text-size: 1rem;
}

body {
	background-color: var(--background);
	color: var(--foreground);
	font-size: var(--text-size);
	margin: 0;
}

button {
	color: var(--button);
	background-color: var(--background);
	font-family: var(--font-regular);
	font-size: var(--text-size);
	border-width: 0px;
	border-radius: 0.2rem;
}

h1, h2, h3 {
	font-weight: normal;
}

nav {
	background-color: var(--background-nav);
	border-width: 0 0 2px 0;
	border-style: solid;
	font-size: var(--nav-text-size);
}

.bg-selected {
	background-color: var(--button);
}

.fg-selected {
	color: var(--background);
}

.monospace {
	font-family: monospace;
	max-height: 10px;
}


nav button {
	background-color: transparent;
}

.main-content {
	margin: 1rem;
}

.nav-title {
	padding: 0.4rem;
}

.navbar-items {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: left;
	min-height: 30px;
}

.nav-item {}

.anchor {
	color: var(--anchor);
	text-decoration: none;
}

.anchor:visited {
	color: var(--anchor);
	text-decoration: none;
}

.section-heading {
	font-weight: normal;
	font-size: var(--h2-size);
	margin: 0.8rem 0.2rem 0.8rem 0.2rem;
}

.section-content {
	padding-left: 0.3rem;
}

.ruler {
	border-color: var(--foreground);
	border-width: 0 0 1px 0;
	color: var(--foreground);
}

.footer {
	width: 100%;
	color: var(--dimmed-foreground);
	text-align: center;
}

.list li {
	list-style: square;
	padding-left: 0.5rem;
}

.page-horizontal-fill {
	display: block;
	margin-left: auto;
	margin-right: auto;

	min-width: 400px;
	width: 95%;
	max-width: 900px;
}


